@import url(https://fonts.googleapis.com/css2?family=Oswald&display=swap);
@charset "UTF-8";
@font-face {
  font-family: DroidSans;
  font-display: swap;
  src: url("../fonts/DroidSans-Regular.woff2") format("woff2"), url("../fonts/DroidSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 280px;
}

body {
  color: #313131;
  line-height: 1;
  font-family: "Oswald";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Oswald";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.content {
  min-height: 100%;
  display: flex;
}
.content input, .content textarea, .content button {
  outline: none;
}
.content input, .content textarea {
  transition: box-shadow 0.3s;
}
.content input:focus, .content textarea:focus {
  box-shadow: 0px 0px 10px 2px rgba(49, 49, 49, 0.3);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 58.4375rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

h1 {
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@supports (font-size: clamp( 2rem , 1.5401459854rem  +  2.6277372263vw , 3.125rem )) {
  h1 {
    font-size: clamp( 2rem , 1.5401459854rem  +  2.6277372263vw , 3.125rem );
  }
}
@supports not (font-size: clamp( 2rem , 1.5401459854rem  +  2.6277372263vw , 3.125rem )) {
  h1 {
    font-size: calc(2rem + 1.125 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (line-height: clamp( 2.375rem , 2.2217153285rem  +  0.8759124088vw , 2.75rem )) {
  h1 {
    line-height: clamp( 2.375rem , 2.2217153285rem  +  0.8759124088vw , 2.75rem );
  }
}
@supports not (line-height: clamp( 2.375rem , 2.2217153285rem  +  0.8759124088vw , 2.75rem )) {
  h1 {
    line-height: calc(2.375rem + 0.375 * (100vw - 17.5rem) / 42.8125);
  }
}

h2 {
  text-align: center;
  text-transform: uppercase;
}
@supports (font-size: clamp( 1.25rem , 0.9689781022rem  +  1.6058394161vw , 1.9375rem )) {
  h2 {
    font-size: clamp( 1.25rem , 0.9689781022rem  +  1.6058394161vw , 1.9375rem );
  }
}
@supports not (font-size: clamp( 1.25rem , 0.9689781022rem  +  1.6058394161vw , 1.9375rem )) {
  h2 {
    font-size: calc(1.25rem + 0.6875 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (line-height: clamp( 1.875rem , 1.7217153285rem  +  0.8759124088vw , 2.25rem )) {
  h2 {
    line-height: clamp( 1.875rem , 1.7217153285rem  +  0.8759124088vw , 2.25rem );
  }
}
@supports not (line-height: clamp( 1.875rem , 1.7217153285rem  +  0.8759124088vw , 2.25rem )) {
  h2 {
    line-height: calc(1.875rem + 0.375 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (margin-bottom: clamp( 0.625rem , 0.3695255474rem  +  1.4598540146vw , 1.25rem )) {
  h2 {
    margin-bottom: clamp( 0.625rem , 0.3695255474rem  +  1.4598540146vw , 1.25rem );
  }
}
@supports not (margin-bottom: clamp( 0.625rem , 0.3695255474rem  +  1.4598540146vw , 1.25rem )) {
  h2 {
    margin-bottom: calc(0.625rem + 0.625 * (100vw - 17.5rem) / 42.8125);
  }
}

h3 {
  font-size: 30px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 1px;
  color: #CF404D;
}

h4 {
  font-family: DroidSans;
  line-height: 30px;
  text-align: center;
  color: rgba(115, 115, 115, 0.74);
}
@supports (font-size: clamp( 1.125rem , 1.0994525547rem  +  0.1459854015vw , 1.1875rem )) {
  h4 {
    font-size: clamp( 1.125rem , 1.0994525547rem  +  0.1459854015vw , 1.1875rem );
  }
}
@supports not (font-size: clamp( 1.125rem , 1.0994525547rem  +  0.1459854015vw , 1.1875rem )) {
  h4 {
    font-size: calc(1.125rem + 0.0625 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (margin-bottom: clamp( 0.9375rem , -0.2121350365rem  +  6.5693430657vw , 3.75rem )) {
  h4 {
    margin-bottom: clamp( 0.9375rem , -0.2121350365rem  +  6.5693430657vw , 3.75rem );
  }
}
@supports not (margin-bottom: clamp( 0.9375rem , -0.2121350365rem  +  6.5693430657vw , 3.75rem )) {
  h4 {
    margin-bottom: calc(0.9375rem + 2.8125 * (100vw - 17.5rem) / 42.8125);
  }
}

h5 {
  text-transform: uppercase;
}
@supports (line-height: clamp( 1.75rem , 1.6989051095rem  +  0.2919708029vw , 1.875rem )) {
  h5 {
    line-height: clamp( 1.75rem , 1.6989051095rem  +  0.2919708029vw , 1.875rem );
  }
}
@supports not (line-height: clamp( 1.75rem , 1.6989051095rem  +  0.2919708029vw , 1.875rem )) {
  h5 {
    line-height: calc(1.75rem + 0.125 * (100vw - 17.5rem) / 42.8125);
  }
}

.text {
  font-size: 16px;
  line-height: 20px;
}

.red-button a, .white-button a {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 9px 20px 13px 20px;
  color: #FFFFFF;
  border-radius: 4px;
  transition: 0.3s;
}
.red-button a:hover, .white-button a:hover {
  color: #CF404D;
}

.red-button a {
  border: 2px solid #CF404D;
  background: #CF404D;
  border-radius: 4px;
  transition: 0.3s;
}
.red-button a:hover {
  background: none;
}

.white-button a {
  border: 2px solid #ffffff;
  background: none;
}
.white-button a:hover {
  background: #ffffff;
}

button.red-button {
  background: #CF404D;
  border: 2px solid #CF404D;
  border-radius: 4px;
  transition: 0.3s;
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 9px 20px 13px 20px;
  color: #FFFFFF;
}
button.red-button:hover {
  color: #CF404D;
  background: none;
}

@supports (padding-top: clamp( 0.625rem , 0.2417883212rem  +  2.1897810219vw , 1.5625rem )) {
  .footer__container {
    padding-top: clamp( 0.625rem , 0.2417883212rem  +  2.1897810219vw , 1.5625rem );
  }
}
@supports not (padding-top: clamp( 0.625rem , 0.2417883212rem  +  2.1897810219vw , 1.5625rem )) {
  .footer__container {
    padding-top: calc(0.625rem + 0.9375 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (padding-bottom: clamp( 0.625rem , 0.2417883212rem  +  2.1897810219vw , 1.5625rem )) {
  .footer__container {
    padding-bottom: clamp( 0.625rem , 0.2417883212rem  +  2.1897810219vw , 1.5625rem );
  }
}
@supports not (padding-bottom: clamp( 0.625rem , 0.2417883212rem  +  2.1897810219vw , 1.5625rem )) {
  .footer__container {
    padding-bottom: calc(0.625rem + 0.9375 * (100vw - 17.5rem) / 42.8125);
  }
}
.footer__wrap {
  text-align: center;
}
.footer__link {
  transition: color 0.2s;
}
.footer__link:hover {
  color: #CF404D;
}

.aside-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 22.916%;
  min-height: 100%;
  background: #2D3E4F;
}
.aside-bar__body {
  padding-top: 120px;
  min-height: 100%;
}
.aside-bar__title {
  margin-bottom: 80px;
}
.aside-bar__list {
  text-align: center;
}
.aside-bar__list li {
  margin-bottom: 40px;
}
.aside-bar__list li:last-child {
  margin-bottom: 90px;
}
.aside-bar__link {
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  transition: color 0.25s;
}
.aside-bar__link._active-link {
  color: #CF404D;
}
.aside-bar__link:hover {
  color: #CF404D;
}
.aside-bar__footer {
  left: 50%;
  top: calc(100% - 30px);
  position: absolute;
  transform: translate(-50%, -100%);
}

.aside-bar-footer__list {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 -4px;
}
.aside-bar-footer__list > * {
  padding: 0 4px;
}
.aside-bar-footer__link svg {
  width: 23px;
  height: 17px;
  fill: #ffffff;
  transition: fill 0.2s;
}
.aside-bar-footer__link svg:hover {
  fill: #CF404D;
}
.wrapper {
  width: 77.084%;
}

.home {
  position: relative;
}
.home__body {
  text-align: center;
}
@supports (padding-top: clamp( 5rem , 0.5291970803rem  +  25.5474452555vw , 15.9375rem )) {
  .home__body {
    padding-top: clamp( 5rem , 0.5291970803rem  +  25.5474452555vw , 15.9375rem );
  }
}
@supports not (padding-top: clamp( 5rem , 0.5291970803rem  +  25.5474452555vw , 15.9375rem )) {
  .home__body {
    padding-top: calc(5rem + 10.9375 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (padding-bottom: clamp( 6.25rem , 1.7791970803rem  +  25.5474452555vw , 17.1875rem )) {
  .home__body {
    padding-bottom: clamp( 6.25rem , 1.7791970803rem  +  25.5474452555vw , 17.1875rem );
  }
}
@supports not (padding-bottom: clamp( 6.25rem , 1.7791970803rem  +  25.5474452555vw , 17.1875rem )) {
  .home__body {
    padding-bottom: calc(6.25rem + 10.9375 * (100vw - 17.5rem) / 42.8125);
  }
}
.home__title {
  max-width: 500px;
  margin: 0 auto;
  user-select: none;
}
@supports (margin-bottom: clamp( 0rem , -0.1277372263rem  +  0.7299270073vw , 0.3125rem )) {
  .home__title {
    margin-bottom: clamp( 0rem , -0.1277372263rem  +  0.7299270073vw , 0.3125rem );
  }
}
@supports not (margin-bottom: clamp( 0rem , -0.1277372263rem  +  0.7299270073vw , 0.3125rem )) {
  .home__title {
    margin-bottom: calc(0rem + 0.3125 * (100vw - 17.5rem) / 42.8125);
  }
}
.home__sub-title {
  color: #ffffff;
  margin-bottom: 15px;
}
.home__buttons {
  display: flex;
  justify-content: center;
  margin: 0 -5px;
}
.home__buttons > * {
  padding: 0 5px;
}
.home__image-ibg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
}
.home__image-ibg img {
  filter: blur(2px);
  transform: scale(1.02);
}

@supports (padding-top: clamp( 1.25rem , 0.2281021898rem  +  5.8394160584vw , 3.75rem )) {
  .about__container {
    padding-top: clamp( 1.25rem , 0.2281021898rem  +  5.8394160584vw , 3.75rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 0.2281021898rem  +  5.8394160584vw , 3.75rem )) {
  .about__container {
    padding-top: calc(1.25rem + 2.5 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (padding-bottom: clamp( 0.3125rem , -0.4539233577rem  +  4.3795620438vw , 2.1875rem )) {
  .about__container {
    padding-bottom: clamp( 0.3125rem , -0.4539233577rem  +  4.3795620438vw , 2.1875rem );
  }
}
@supports not (padding-bottom: clamp( 0.3125rem , -0.4539233577rem  +  4.3795620438vw , 2.1875rem )) {
  .about__container {
    padding-bottom: calc(0.3125rem + 1.875 * (100vw - 17.5rem) / 42.8125);
  }
}
.about__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10.5px;
}
.about__row > * {
  padding: 0 10.5px;
}
.about__column {
  flex: 0 1 25%;
  margin-bottom: 25px;
  display: flex;
}
.about__item {
  display: flex;
  flex-direction: column;
}

.item-about__image {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@supports (margin-bottom: clamp( 0rem , -0.5109489051rem  +  2.9197080292vw , 1.25rem )) {
  .item-about__image {
    margin-bottom: clamp( 0rem , -0.5109489051rem  +  2.9197080292vw , 1.25rem );
  }
}
@supports not (margin-bottom: clamp( 0rem , -0.5109489051rem  +  2.9197080292vw , 1.25rem )) {
  .item-about__image {
    margin-bottom: calc(0rem + 1.25 * (100vw - 17.5rem) / 42.8125);
  }
}
.item-about__image_camera svg {
  width: 80px;
  height: 48px;
}
.item-about__image_wall svg {
  width: 74px;
  height: 74px;
}
.item-about__image_gear svg {
  width: 80px;
  height: 80px;
}
.item-about__image_cloud svg {
  width: 80px;
  height: 60px;
}
@supports (margin-bottom: clamp( 0.3125rem , 0.1847627737rem  +  0.7299270073vw , 0.625rem )) {
  .item-about__title {
    margin-bottom: clamp( 0.3125rem , 0.1847627737rem  +  0.7299270073vw , 0.625rem );
  }
}
@supports not (margin-bottom: clamp( 0.3125rem , 0.1847627737rem  +  0.7299270073vw , 0.625rem )) {
  .item-about__title {
    margin-bottom: calc(0.3125rem + 0.3125 * (100vw - 17.5rem) / 42.8125);
  }
}
.item-about__text {
  font-size: 15px;
  font-family: DroidSans;
  opacity: 0.74;
  flex: 1 1 auto;
}
@supports (margin-bottom: clamp( 0.25rem , 0.1605839416rem  +  0.5109489051vw , 0.46875rem )) {
  .item-about__text {
    margin-bottom: clamp( 0.25rem , 0.1605839416rem  +  0.5109489051vw , 0.46875rem );
  }
}
@supports not (margin-bottom: clamp( 0.25rem , 0.1605839416rem  +  0.5109489051vw , 0.46875rem )) {
  .item-about__text {
    margin-bottom: calc(0.25rem + 0.21875 * (100vw - 17.5rem) / 42.8125);
  }
}
.item-about__link {
  color: #CF404D;
  transition: color 0.2s;
}
.item-about__link:hover {
  color: #313131;
}

.extra-text {
  background: #CF404D;
}
.extra-text__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@supports (padding-top: clamp( 1.25rem , 0.7390510949rem  +  2.9197080292vw , 2.5rem )) {
  .extra-text__container {
    padding-top: clamp( 1.25rem , 0.7390510949rem  +  2.9197080292vw , 2.5rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 0.7390510949rem  +  2.9197080292vw , 2.5rem )) {
  .extra-text__container {
    padding-top: calc(1.25rem + 1.25 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (padding-bottom: clamp( 0.9375rem , 0.4265510949rem  +  2.9197080292vw , 2.1875rem )) {
  .extra-text__container {
    padding-bottom: clamp( 0.9375rem , 0.4265510949rem  +  2.9197080292vw , 2.1875rem );
  }
}
@supports not (padding-bottom: clamp( 0.9375rem , 0.4265510949rem  +  2.9197080292vw , 2.1875rem )) {
  .extra-text__container {
    padding-bottom: calc(0.9375rem + 1.25 * (100vw - 17.5rem) / 42.8125);
  }
}
.extra-text__text {
  text-align: left;
  color: #ffffff;
}
.gallery__container {
  padding: 0 10px;
}
@supports (padding-top: clamp( 1.25rem , 0.2281021898rem  +  5.8394160584vw , 3.75rem )) {
  .gallery__container {
    padding-top: clamp( 1.25rem , 0.2281021898rem  +  5.8394160584vw , 3.75rem );
  }
}
@supports not (padding-top: clamp( 1.25rem , 0.2281021898rem  +  5.8394160584vw , 3.75rem )) {
  .gallery__container {
    padding-top: calc(1.25rem + 2.5 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (padding-bottom: clamp( 0.9375rem , 0.0433394161rem  +  5.1094890511vw , 3.125rem )) {
  .gallery__container {
    padding-bottom: clamp( 0.9375rem , 0.0433394161rem  +  5.1094890511vw , 3.125rem );
  }
}
@supports not (padding-bottom: clamp( 0.9375rem , 0.0433394161rem  +  5.1094890511vw , 3.125rem )) {
  .gallery__container {
    padding-bottom: calc(0.9375rem + 2.1875 * (100vw - 17.5rem) / 42.8125);
  }
}
.gallery__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
  justify-content: center;
}
.gallery__row > * {
  padding: 0 10px;
}
.gallery__item {
  margin-bottom: 20px;
  transition: transform 0.3s;
  flex: 0 1 25%;
}
.gallery__item:hover {
  transform: scale(1.03);
}

.contact {
  border-bottom: 1px solid #E1E1E1;
  background: #f1F1F1;
}
.contact__container {
  max-width: 585px;
}
@supports (padding-top: clamp( 0.9375rem , -0.3398722628rem  +  7.299270073vw , 4.0625rem )) {
  .contact__container {
    padding-top: clamp( 0.9375rem , -0.3398722628rem  +  7.299270073vw , 4.0625rem );
  }
}
@supports not (padding-top: clamp( 0.9375rem , -0.3398722628rem  +  7.299270073vw , 4.0625rem )) {
  .contact__container {
    padding-top: calc(0.9375rem + 3.125 * (100vw - 17.5rem) / 42.8125);
  }
}
@supports (padding-bottom: clamp( 1.5625rem , 0.2851277372rem  +  7.299270073vw , 4.6875rem )) {
  .contact__container {
    padding-bottom: clamp( 1.5625rem , 0.2851277372rem  +  7.299270073vw , 4.6875rem );
  }
}
@supports not (padding-bottom: clamp( 1.5625rem , 0.2851277372rem  +  7.299270073vw , 4.6875rem )) {
  .contact__container {
    padding-bottom: calc(1.5625rem + 3.125 * (100vw - 17.5rem) / 42.8125);
  }
}
.form input, .form textarea {
  border-radius: 3px;
  background: #ffffff;
}
.form input::placeholder, .form textarea::placeholder {
  color: rgba(101, 101, 101, 0.74);
}
.form__wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form__wrap input {
  width: calc(50% - 10px);
  height: 45px;
}
.form__ft-type {
  padding: 0 30px;
}
.form__message {
  overflow: hidden;
  resize: none;
  width: 100%;
  height: 110px;
  padding: 20px 30px 30px;
  margin-bottom: 15px;
}
.form__button {
  width: 100%;
}
.form__button:focus {
  box-shadow: 0px 0px 10px 3px rgba(207, 64, 77, 0.3);
}

.go-up {
  position: fixed;
  bottom: 100px;
  right: 110px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}
.go-up._active {
  visibility: visible;
  opacity: 1;
}
.go-up a {
  outline: none;
  user-select: none;
  animation: go-up alternate infinite 1.1s, red-pulse alternate infinite 0.75s forwards;
  position: absolute;
  width: 70px;
  height: 70px;
  background: #2D3E4F;
  border-radius: 50%;
}
.go-up a span {
  width: 2.5px;
  display: block;
  height: 40px;
  border-radius: 4px;
  background: #ffffff;
  position: absolute;
  top: calc(50% - 1px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.go-up a span::after, .go-up a span::before {
  transform-origin: top;
  position: absolute;
  content: "";
  display: block;
  height: 20px;
  width: 2px;
  background: #ffffff;
  top: 1px;
  border-radius: 4px;
}
.go-up a span::before {
  left: 0px;
  transform: rotate(-40deg);
}
.go-up a span::after {
  right: 0;
  transform: rotate(40deg);
}

@keyframes go {
  100% {
    transform: translateX(200%);
  }
}
@keyframes go-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes red-pulse {
  0% {
    box-shadow: 0px 0px 0px 10px rgba(45, 62, 79, 0.3);
  }
  100% {
    box-shadow: none;
  }
}
@media (max-width: 61.99875em) {
  .about__column {
    flex: 0 1 33.333%;
  }

  .aside-bar-footer {
    top: calc(100% - 20px);
  }
  .aside-bar-footer__list {
    flex-wrap: wrap;
  }
  .aside-bar-footer__list li {
    margin-bottom: 10px;
  }
  .go-up {
    bottom: 90px;
    right: 100px;
  }
}
@media (max-width: 47.99875em) {
  .content {
    display: block;
    min-height: 0;
  }

  .wrapper {
    width: 100%;
  }

  .aside-bar {
    width: 100%;
    min-height: 50px;
  }
  .aside-bar__body {
    margin: 0 auto;
    padding-top: 20px;
  }
  .aside-bar__title {
    font-size: 34px;
    margin-bottom: 15px;
  }
  .aside-bar__list {
    display: inline-flex;
    margin: 0 -10px;
  }
  .aside-bar__list > * {
    padding: 0 10px;
  }
  .aside-bar__list li {
    margin-bottom: 20px;
  }
  .aside-bar__list li:last-child {
    margin-bottom: 20px;
  }
  .aside-bar__link {
    font-size: 20px;
  }
  .aside-bar__footer {
    margin: 0 auto;
    position: static;
    transform: translate(0);
    margin-bottom: 10px;
  }

  .aside-bar-footer__link svg {
    width: 30px;
    height: 25px;
  }

  .gallery__row {
    margin: 0 -5px;
  }
  .gallery__row > * {
    padding: 0 5px;
  }
  .gallery__item {
    margin-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .about__column {
    flex: 0 1 50%;
  }

  .item-about__image {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }
  .item-about__image_camera svg {
    width: 70px;
    height: 38px;
  }
  .item-about__image_wall svg {
    width: 54px;
    height: 54px;
  }
  .item-about__image_gear svg {
    width: 60px;
    height: 60px;
  }
  .item-about__image_cloud svg {
    width: 60px;
    height: 40px;
  }
}
@media (max-width: 29.99875em) {
  .extra-text__container {
    display: block;
  }
  .extra-text__text {
    text-align: center;
    margin-bottom: 10px;
  }
  .extra-text__button {
    text-align: center;
  }

  .go-up {
    bottom: 80px;
    right: 90px;
  }
  .go-up a {
    width: 60px;
    height: 60px;
  }
  .go-up a span {
    width: 2px;
    height: 30px;
  }
  .go-up a span::after, .go-up a span::before {
    height: 15px;
  }
}
@media (max-width: 400px) {
  .about__column {
    flex: 0 1 100%;
  }
  .about__item {
    margin: 0 auto;
    max-width: 260px;
    align-items: center;
  }
  .item-about__text {
    text-align: center;
  }

  .gallery__item:nth-child(even) {
    display: none;
  }

  .form__wrap {
    flex-direction: column;
  }
  .form__wrap input {
    width: 100%;
  }
  .form__name, .form__wrap, .form__message {
    margin-bottom: 10px;
  }
}
@media (max-width: 376px) {
  .go-up {
    bottom: 70px;
    right: 70px;
  }
  .go-up a {
    width: 55px;
    height: 55px;
  }
  .go-up a span {
    width: 2px;
    height: 25px;
  }
  .go-up a span::after, .go-up a span::before {
    height: 10px;
  }
}
